<!DOCTYPE html>
<html lang="es">

<%- include("partials/head",{title: 'Hora del té' }) %>

    <!---header-->

    <%- include("partials/header") %>

        <!---header-->

        <body class="home">
            <main>

                <section>
                        <% categories.forEach(category=>{ %>
                            <h1>
                            <%= category.name%>
                        </h1>
                        
                            <% if (category.products.CategoryId===category.products.Category.name) { %>
                                <article class="product-card">
                                    <img src="/img/products/<%= category.products.image %>" width="100%" alt="">
                                    <div class="detail-product">
                                        <div class="box-botones">
                                            <a href="/products/cart" class="myButton1"><i
                                                    class="fas fa-shopping-cart"></i>
                                                Añadir al carrito</a>
                                            <a href="/products/detail/<%= category.product.id %>" class="myButton2">Ver Mas</a>
                                        </div>
                                        <h4>
                                            <%= category.product.name %>
                                        </h4>
                                        <div class="contenedor-precio-descuento">
                                            <% if (category.product.discount> 0) { %>
                                                <p class="precio">
                                                    <span class="precio">$<%= toThousand(category.product.price) %></span>
                                                    <br>
                                                    <b>
                                                        <%= category.product.discount %>% OFF
                                                    </b>
                                                </p>
                                                <p class="precio-total">
                                                    $<%= toDiscount(category.product.price, category.product.discount) %>
                                                </p>
                                                <% }else{%>
                                                    <p class="precio-real">
                                                        $<%= toThousand(category.product.price) %>
                                                    </p>
                                            <% } %>
                                        </div>
                                    </div>
                                </article>
                            <% } %>
                        <% }) %>
                </section>
            </main>

            <%- include('partials/footer') %>

        </body>

</html>