<!DOCTYPE html>
<html lang="es">

<%- include("partials/head",{title: 'Detalle de producto' }) %>

  <!---header-->

  <%- include("partials/header") %>

    <!---fin de header-->

    <!--body-->

    <body class="detail">
    
      <main class="container">
 
        <!-- PRODUCTO -->
        <div class="left-column">
          <img src="/img/products/<%= product.image%>" alt="">
        </div>
 
        <div class="right-column">
       
          <!-- DESCRIPCION -->
          <div class="product-description"> 
            <span><%= product.Category.name%></span>
            <h1><%= product.name%></h1>
            <p class="descripcion">
              <%= product.description%>
            </p>
  
            <% if (product.discount > 0) { %>
              <p class="precio">
                <span class="precio">$<%= product.price %></span>
                /
                <b><%= product.discount %>% OFF</b>
              </p>
              <p class="precio-total">
								Precio final: $<%= product.price, product.discount %>
							</p>
              <% }else{%>
                <p class="precio">
                Precio: $<%= product.price %>
                </p>
                <% } %> 
          </div>
       
            <!-- CANTIDAD -->
            <div class="cantidadboton">
              <span>Cantidad</span>
       
              <div class="botonesmasymenos">
                <button>   -   </button>
                <span>1</span>
                <button>   +     </button>
              </div>
              <a href="/products/cart" class="button-añadir"><i class="fas fa-shopping-cart"></i> Añadir al carrito</a>
               
            </div>
          </div>
  
        </div>

      </main>

     </body>

    <!---FOOTER------------------------------------------------------------>
    <%- include("partials/footer") %>
      <!---FOOTER------------------------------------------------------------>
      </body>

</html>