<!DOCTYPE html>
<html lang="es">

<%- include("partials/head",{title: 'Hora del té' }) %>

    <!---header-->

    <%- include("partials/header") %>

        <!---header-->

        <body class="home">
            <main>
                <section>


                    <% products.forEach(product=>{ %>

                        <article class="product-card-products">
                            <a href="/products/detail/<%= product.id %>">
                                <img src="/img/products/<%= product.image %>" width="100%" alt="">
                                <div class="detail-product">
                            </a>
                            <a href="/products/cart" class="myButton">

                                <i class="fas fa-shopping-cart"></i> Añadir al carrito
                            </a>
                            <a href="/products/detail/<%= product.id %>">
                                <h4 class="products">
                                    <%= product.name %>
                                </h4>



                                <h5>
                                    <%= product.description %>
                                </h5>


                                <div class="contenedor-precio-descuento">

                                    <% if (product.discount> 0) { %>
                                        <p class="precio-products"> $<%= toDiscount(product.price, product.discount) %>
                                        </p>
                                        <p class="descuento-products"><i class="fas fa-user-tag"></i>
                                            % <%= product.discount%>
                                        </p>
                                        <% }else{ %>
                                            <h2 class="products">$<%= toThousand(product.price) %>
                                            </h2>
                                            <% } %>





                                </div>
                            </a>

                            </div>

                        </article>


                        <% }) %>
                </section>
            </main>

            <%- include('partials/footer') %>

        </body>

</html>