<!DOCTYPE html>
<html lang="es">

    <%- include("partials/head",{title: 'Hora del té'}) %>

 <!---header-->

 <%- include("partials/header") %>

 <!---header-->

<!--carrousel-->
<div class="glider-contain">
    <div class="glider">
        <button aria-label="Previous" class="glider-prev">«</button>
        <div><img src="/img/img-home-banner.jpg" alt=""></div>
        <div><img src="/img/2.jpg" alt=""></div>
      <div><img src="/img/1.jpg" alt=""></div>
      <div><img src="/img/3.jpg" alt=""></div>
      <div><img src="/img/4.jpg" alt=""></div>
      <div><img src="/img/5.jpg" alt=""></div>
        <button aria-label="Next" class="glider-next">»</button>
        <div role="tablist" class="dots"></div>
    </div>

  <script src="javascripts/glider.js"> </script>
  <script src="javascripts/home.js"></script>
  
      <!--fin carrousel-->
          
      <body class="home"> 
      <main>
   
          <section>


  <% products.forEach(product =>{  %> 
              
              <article class="product-card">
          
                  <img src="/img/products/<%= product.image %>" width="100%" alt="">
                  <div class="detail-product">
                   
<a href="/products/cart" class="myButton">
    
    <i class="fas fa-shopping-cart"></i> Añadir al carrito</a>                     

<h4><%= product.name %> </h4>

                          <div class="contenedor-precio-descuento">
                        
                            <% if (product.discount > 0) { %>
                                <p class="precio">
                                  <span class="precio">$<%= toThousand(product.price) %></span>
                                  /
                                  <b></i><%= product.discount %>% OFF</b>
                                </p>
                                <p class="precio-total">
                                                  Precio: $<%= toDiscount(product.price, product.discount) %>
                                              </p>
                                <% }else{%>
                                  <p class="precio">
                                  Precio: $<%= toThousand(product.price) %>
                                  </p>
                                  <% } %> 
                        </div>
                          


                      <a href="/products/detail" class="myButton">Ver Mas</a>
                    </div>
               
              </article>
       
     
              <% }) %> 



        <!--- <article class="tazallama">
                  <img src="/img/tazallama.jpg" width="100%" alt="">
  
  
                  <div class="detail-product">
                  
    <a href="/products/cart" class="myButton"><i class="fas fa-shopping-cart"></i> Añadir al carrito</a>                      <h4>Taza Llama</h4>
                      <div class="contenedor-precio-descuento">
                          <p class="precio">$2.000</p>
                          <a href="/products/detail" class="myButton">Ver Mas</a>
                      </div>
      
                  </div>
              </article>
  
              <article>
                  <img src="/img/tazainodoro.jpg" width="100%" alt="">
                  <div class="detail-product">
                      
<a href="/products/cart" class="myButton"><i class="fas fa-shopping-cart"></i> Añadir al carrito</a>                      <h4>Taza Inodoro</h4>
                      <div class="contenedor-precio-descuento">
                          <p class="precio">$1.500</p>
                          <a href="/products/detail" class="myButton">Ver Mas</a>
                      </div>
                
                  </div>
              </article>
  
              <article>
                  <img src="/img/tazacubo.jpg" width="100%" alt="">
                  <div class="detail-product">
<a href="/products/cart" class="myButton"><i class="fas fa-shopping-cart"></i> Añadir al carrito</a>                      <h4>Taza Cubo</h4>
                      
                      
                      <div class="contenedor-precio-descuento">
  
                          <p class="precio">$2.200</p>
                          <a href="/products/detail" class="myButton">Ver Mas</a>
                      </div>
                      
                  </div>
              </article>
          </section>
       
          <section>
              <article>
                  <img src="/img/tazadona.jpg" width="100%" alt="">
                  <div class="detail-product">
<a href="/products/cart" class="myButton"><i class="fas fa-shopping-cart"></i> Añadir al carrito</a>                      <h4>Taza Dona</h4>
                      
                     
                      <div class="contenedor-precio-descuento">
                          <p class="precio">$1.770</p>
                          <a href="/products/detail" class="myButton">Ver Mas</a>
                      </div>
                    
                  </div>
              </article>
  
              <article>
                  <img src="/img/tazallama.jpg" width="100%" alt="">
                  <div class="detail-product">
<a href="/products/cart" class="myButton"><i class="fas fa-shopping-cart"></i> Añadir al carrito</a>                      <h4>Taza Llama</h4>
                      
                      
                      <div class="contenedor-precio-descuento">
                          <p class="precio">$2.000</p>
                          <a href="/products/detail" class="myButton">Ver Mas</a>
                      </div>
                    
                  </div>
              </article>
  
              <article>
                  <img src="/img/tazainodoro.jpg" width="100%" alt="">
                  <div class="detail-product">
<a href="/products/cart" class="myButton"><i class="fas fa-shopping-cart"></i> Añadir al carrito</a>                      <h4>Taza Inodoro</h4>
                      
                      
                      <div class="contenedor-precio-descuento">
                          <p class="precio">$1.500</p>
                          <a href="/products/detail" class="myButton">Ver Mas</a>
                      </div>
                     
                  </div>
              </article>
  
              <article>
                  <img src="/img/tazacubo.jpg" width="100%" alt="">
                  <div class="detail-product">
                    <a href="/products/cart" class="myButton"><i class="fas fa-shopping-cart"></i> Añadir al carrito</a>
                      <h4>Taza Cubo</h4>
                      
                     
                      <div class="contenedor-precio-descuento">
                          <p class="precio">$2.200</p>
                   
                          <a href="/products/detail" class="myButton">Ver Mas</a>
                      </div>
                    
                  </div>
              </article>
  -->   
          </section>
  
          <div class="botones">
              <button type="reset" id="reset">Ver Más Productos</button>
   
          </div>
      </main>
  
      <%- include('partials/footer') %>
  
  </body>
  </html>