<!DOCTYPE html>
<html lang="es">

    <%- include("partials/head",{title: 'Hora del té'}) %>

 <!---header-->

 <%- include("partials/header") %>

 <!---header-->
    <body class="home"> 
    <main>
        <section>


            <% products.forEach(product=>{ %>

                <article class="product-card">

                    <img src="/img/products/<%= product.image %>" width="100%" alt="">
                    <div class="detail-product">

                        <a href="/products/cart" class="myButton">

                            <i class="fas fa-shopping-cart"></i> Añadir al carrito</a>

                        <h4>
                            <%= product.name %>
                        </h4>



                        <h5>
                            <%= product.description %>
                        </h5>


                        <div class="contenedor-precio-descuento">



                            <p class="precio"> $ <%= product.price %>
                            </p>

                            <p class="descuento"> <i class="fas fa-user-tag"></i>
                                % <%= product.discount%>
                            </p>

                        </div>



                        <a href="/products/detail" class="myButton">Ver Mas</a>
                    </div>

                </article>


                <% }) %>
        </section>
    </main>
  
    <%- include('partials/footer') %>
  
  </body>
</html>