<!doctype html>
<html lang="es">
    <%- include("partials/head-admin",{title: 'Modificar'}) %>
  <body>

    <%- include("partials/header-admin") %>

<main class="container bg-white">


  <div class="row">
    <div class="col-12.col-md-10 col-lg-8 mt-5 mx-auto">
  
      <div class="card p-3">
  
  
        <div class="card-header text-light " style="background-color: #ffb8a1">
          <h4>Modificar Producto</h4>
        </div>
  
        <div class="card-body">
          <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" class="row">
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input name="name" type="text" class="form-control" placeholder="Nombre de Producto" id="name" value="<%= product.name %> ">
            </div>
            
            <div class="mb-3">
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="description"><%= product.description %></textarea>
                <label for="description">Descripcion</label>
              </div>
            </div>
  
            <div class="mb-3">
              <div class="form-floating">
                <select class="form-select" id="category" aria-label="Floating label select example" name="category" >
                  <option selected>Seleccionar una Categoría</option>

                  <option value="Tazas con frase"  <%= product.category === "Tazas con frase" ? 'selected' : null %> >Tazas con frase</option>

                  <option value="Tazas de cerámica"  <%= product.category === "Tazas de cerámica" ? 'selected' : null %> >Tazas de cerámica</option>

                  <option value="Teteras"  <%= product.category === "Teteras" ? 'selected' : null %> >Teteras</option>

                  <option value="Azucareras" <%= product.category === "Azucareras" ? 'selected' : null %> >Otros</option>
                  
                </select>
                <label for="category">Categoría</label>
              </div>
            </div>
            
            <div class="mb-3">
              <label for="image" class="form-label" >Cargar fotos </label>
              <input class="form-control" type="file" id="image" accept="image/x-png,image/jpeg" name="image" multiple>
            </div>
  
            <div class="mb-3">
              <label for="price" class="form-label">Precio</label>
              <input type="number" class="form-control" placeholder="Precio" id="price" name="price" aria-describedby="price" value= <%=  product.price %> >
            </div>
  
            <div class="mb-3">
              <label for="discount" class="form-label">Indicar Descuento</label>
              <input type="number" class="form-control" 
              placeholder="Descuento" 
              id="discount" name="discount" aria-describedby="discount" value= <%= product.discount %> >
            </div>
            
            <div class="col-12 col-md-6">
              <button type="submit" class="btn btn-dark">Agregar</button>
            </div>
          </form>
        </div>  
  
      </div>
  
    </div>
  
  </div>
  

</main>
 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
 
  </body>
</html>